.v-picker {
  .el-input__inner {
    padding: 8px 12px;
    font-family: $font-family-regular;
    font-size: 13px;
    border-radius: 5px;
    border: 2px solid $color-gray-dark;
    width: 100% !important;

    &::placeholder {
      color: $color-black;
    }
  }
}

.el-picker-panel__footer {
  padding: 10px;

  .el-button {
    border: none;
    outline: none;
    margin: 0;
    cursor: pointer;
    font-family: "Rubik-Medium", sans-serif;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    padding: 8px 20px;
    background: $color-blue;
    margin-left: 10px;
  }
}
