.v-link-text {
  &--view-primary {
    color: $color-white;
    background: $color-blue;
    font-family: $font-family-medium;
    border-radius: 5px;
    font-size: 13px;
    padding: 8px 20px;
  }
}
