.stations {
  padding: 20px 0 40px 0;

  &__container {
    @include container;
  }

  &__group {
    display: $display-grid;
    grid-template-columns: 1fr 600px;
    grid-column-gap: 50px;
    margin-bottom: 50px;
  }
}
