.v-task-methods {
  border: 1px solid #e0e0e0;
  padding: 33px 27px;
  position: relative;

  .v-task-methods__header {
    position: absolute;
    top: -9px;
    left: 35px;
    background: #ffffff;
    padding: 0 10px;
  }
}
