$font-size-13: 13px;

.v-input-password {
  position: $position-relative;

  .el-input__inner {
    @include input;
    border: 2px solid $color-gray-dark;
    font-size: $font-size-13;
    padding: 8px;

    &::placeholder {
      font-size: $font-size-13;
    }
  }

  &__button {
    @include button-reset;
    @include position-y-right;
    right: 8px;
  }

  &__icon {
    @include icon;
    font-size: 15px;
  }

  &__input {
    @include input;
  }
}
