@import "element-ui/lib/theme-chalk/table.css";

.v-table {
  width: 100%;

  .cell {
    font-family: $font-family-regular;
    font-size: 13px;
  }

  .el-table__row {
    .cell {
      font-family: $font-family-medium;
    }

    &--view-success {
      background: $color-green;
    }
  }

  .v-table__row-cell {
    &--view-danger {
      .cell {
        margin: 0 5px;
        color: $color-danger;
        border: 2px solid $color-danger-light;
        border-radius: 5px;
      }
    }

    &--view-warning {
      .cell {
        margin: 0 5px;
        color: $color-warning;
        border: 2px solid $color-warning-light;
        border-radius: 5px;
      }
    }

    &--view-success {
      .cell {
        margin: 0 5px;
        color: $color-success;
        border: 2px solid $color-success-light;
        border-radius: 5px;
      }
    }

    &--view-primary {
      .cell {
        margin: 0 5px;
        color: $color-primary;
        border: 2px solid $color-primary-light;
        border-radius: 5px;
      }
    }
  }
}
