@import "element-ui/lib/theme-chalk/table.css";

.v-table {
  width: $width-full;

  .cell {
    font-family: $font-family-regular;
    font-size: 13px;
  }

  .el-table__row {
    .cell {
      font-family: $font-family-medium;
    }

    &--view-success {
      background: $color-success;
    }
  }
}
