* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: $font-family-regular;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: $color-white;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: $font-family-medium;
  color: $color-black;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

p {
  margin: 0;
  padding: 0;
  color: $color-gray;
}

section {
  width: 100%;
  height: 100%;
}

div,
p,
input,
form {
  box-sizing: border-box;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

#__nuxt,
#__layout {
  width: 100%;
  height: 100%;
}

.el-notification {
  background: $color-white-dark;
  box-shadow: none;
  border: none;
  padding: 10px;

  &--view-success {
    .el-notification__group {
      ::before {
        content: url("assets/svg/bx-badge-check.svg");
      }
    }
  }

  &--view-error {
    .el-notification__group {
      ::before {
        content: url("assets/svg/bx-error-alt.svg");
      }
    }
  }

  .el-notification__title {
    display: none;
  }

  .el-notification__content,
  p {
    font-family: $font-family-regular;
    color: $color-gray;
    margin: 0;
    font-size: 14px;
  }

  .el-notification__group {
    display: flex;
    align-items: center;
    margin-right: 0;
    position: relative;

    ::before {
      position: absolute;
      left: -35px;
      top: 0;
    }
  }
}
