* {
  box-sizing: $box-sizing;
  text-decoration: $text-decoration-none;
}

body {
  font-family: $font-family-regular;
  margin: $margin-none;
  padding: $padding-none;
  height: $height-full-vh;
  background: $color-white;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: $padding-none;
  margin: $margin-none;
  font-family: $font-family-medium;
  color: $color-black;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

p {
  margin: $margin-none;
  padding: $padding-none;
  color: $color-gray;
}

section {
  width: $width-full;
  height: $height-full;
}

div,
p,
input,
form {
  box-sizing: $box-sizing;
}

ul,
li {
  display: $display-block;
  padding: $padding-none;
  margin: $margin-none;
}

#__nuxt,
#__layout {
  width: $width-full;
  height: $height-full;
}

.el-notification {
  background: $color-white-dark;
  box-shadow: $box-shadow-none;
  border: $border-none;
  padding: 10px;

  &--view-success {
    .el-notification__group {
      ::before {
        content: url("assets/svg/bx-badge-check.svg");
      }
    }
  }

  &--view-error {
    .el-notification__group {
      ::before {
        content: url("assets/svg/bx-error-alt.svg");
      }
    }
  }

  .el-notification__title {
    display: $display-none;
  }

  .el-notification__content,
  p {
    font-family: $font-family-regular;
    color: $color-gray;
    margin: $margin-none;
    font-size: 14px;
  }

  .el-notification__group {
    display: $display-flex;
    align-items: $align-items-center;
    margin-right: $margin-none;
    position: $position-relative;

    ::before {
      position: $position-absolute;
      left: -35px;
      top: 0;
    }
  }
}
