// container
@mixin container {
  width: $widht-90;
  height: $height-full;
  margin: $margin-none $margin-auto;
}

// input
@mixin input {
  width: $width-full;
  background: $color-gray-light;
  outline: $outline-none;
  border-radius: $border-radius;
  color: $color-gray;
  font-family: $font-family-regular;

  &::placeholder {
    color: $color-gray;
    opacity: $opacity;
    font-family: $font-family-regular;
  }
}

// textarea
@mixin textarea {
  width: $width-full;
  background: $color-gray-light;
  resize: $resize-none;
  outline: $outline-none;
  color: $color-gray;
  font-family: $font-family-regular;
  border-radius: $border-radius;

  &::placeholder {
    color: $color-gray;
    opacity: $opacity;
    font-family: $font-family-regular;
  }
}

// button
@mixin button-reset {
  background: $background-none;
  border: $border-none;
  outline: $outline-none;
  margin: $margin-none;
  cursor: $cursor-pointer;
}

@mixin button {
  font-family: $font-family-medium;
  font-size: $button-size;
  text-align: $text-align-center;
  color: $color-white;
  border-radius: $border-radius;
  padding: $button-padding;

  &:disabled {
    opacity: $opacity-8;
    cursor: $cursor-default;
  }
}

// position
@mixin position-y {
  position: $position-absolute;
  transform: translateY($translate-y);
}

@mixin position-y-right {
  @include position-y();
  top: $top-50-percent;
  right: $right-0;
}

@mixin position-y-left {
  @include position-y();
  top: $top-50;
  right: $right-0;
}

// display - flex
@mixin display-flex-center {
  display: $display-flex;
  align-items: $align-items-center;
  justify-content: $justify-content-center;
}

@mixin display-flex-between {
  display: $display-flex;
  align-items: $align-items-center;
  justify-content: $justify-content-between;
}

@mixin display-flex-end {
  display: $display-flex;
  align-items: $align-items-center;
  justify-content: $justify-content-end;
}

@mixin display-flex-column {
  display: $display-flex;
  flex-direction: $flex-direction-column;
}

// label
@mixin label {
  display: $display-inline-block;
  color: $color-gray;
  font-size: $label-size;
}

// select
@mixin select-el-input {
  @include display-flex-between();
  border-radius: $border-radius;
}

@mixin select-el-input-inner {
  border: $border-none;
  cursor: $cursor-pointer;
  outline: $outline-none;
  width: $width-full;
  font-family: $font-family-regular;
  padding: $padding-none;

  &::placeholder {
    font-family: $font-family-regular;
  }
}

@mixin select-list {
  border-radius: $border-radius;
}

@mixin select-prefix {
  cursor: $cursor-pointer;
}

@mixin select-item {
  cursor: $cursor-pointer;
  color: $color-gray;
}

@mixin select-empty {
  cursor: $cursor-default;
  color: $color-gray;
  text-align: $text-align-center;
}
