// container
@mixin container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

// input
@mixin input {
  width: 100%;
  background: $color-gray-light;
  outline: none;
  border-radius: 5px;
  color: $color-gray;
  font-family: $font-family-regular;

  &::placeholder {
    color: $color-gray;
    opacity: 1;
    font-family: $font-family-regular;
  }
}

// textarea
@mixin textarea {
  width: 100%;
  background: $color-gray-light;
  resize: none;
  outline: none;
  color: $color-gray;
  font-family: $font-family-regular;
  border-radius: 5px;

  &::placeholder {
    color: $color-gray;
    opacity: 1;
    font-family: $font-family-regular;
  }
}

// button
@mixin button-reset {
  background: none;
  border: none;
  outline: none;
  margin: 0;
  cursor: pointer;
}

@mixin button {
  font-family: $font-family-medium;
  font-size: 14px;
  text-align: center;
  color: $color-white;
  border-radius: 5px;
  padding: 8px 20px;

  &:disabled {
    opacity: 0.8;
    cursor: default;
  }
}

// position
@mixin position-y {
  position: absolute;
  transform: translateY(-50%);
}

@mixin position-y-right {
  @include position-y();
  top: 50%;
  right: 0;
}

@mixin position-y-left {
  @include position-y();
  top: 50%;
  right: 0;
}

// display - flex
@mixin display-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin display-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin display-flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@mixin display-flex-column {
  display: flex;
  flex-direction: column;
}

// label
@mixin label {
  display: inline-block;
  color: $color-gray;
  font-size: 13px;
}

// select
@mixin select-el-input {
  @include display-flex-between();
  border-radius: 5px;
}

@mixin select-el-input-inner {
  border: none;
  cursor: pointer;
  outline: none;
  width: 100%;
  font-family: $font-family-regular;
  padding: 0;

  &::placeholder {
    font-family: $font-family-regular;
  }
}

@mixin select-list {
  border-radius: 5px;
}

@mixin select-prefix {
  cursor: pointer;
}

@mixin select-item {
  cursor: pointer;
  color: $color-gray;
}

@mixin select-empty {
  cursor: default;
  color: $color-gray;
  text-align: center;
}
