// fonts
$font-family-regular: "Rubik-Regular", sans-serif;
$font-family-medium: "Rubik-Medium", sans-serif;
$font-family-bold: "Rubik-Bold", sans-serif;

// colors
$color-black: #000000;
$color-white: #ffffff;
$color-white-dark: #f4f5f7;
$color-gray: #6b778c;
$color-gray-light: #fafbfc;
$color-gray-dark: #dfe1e6;
$color-primary: #4c6ef5;
$color-orange: #ffc065;
$color-danger: #ef543f;
$color-success: #f0f9eb;

// width
$width-full: 100%;
$widht-90: 90%;

// height
$height-full: 100%;
$height-full-vh: 100vh;

// padding
$padding-none: 0;

// margin
$margin-none: 0;
$margin-auto: auto;

// background
$background-none: none;

// border
$border-none: none;

// border-radius
$border-radius: 5px;

// outline
$outline-none: none;

// opacity
$opacity: 1;
$opacity-8: 0.8;

// cursor
$cursor-pointer: pointer;
$cursor-default: default;

// position
$position-relative: relative;
$position-absolute: absolute;

$top-50-percent: 50%;
$left-0: 0;
$right-0: 0;

//translate
$translate-y: -50%;
$translate-x: -50%;

// flex-direction
$flex-direction-column: column;

// display
$display-block: block;
$display-grid: grid;
$display-inline-block: inline-block;
$display-flex: flex;

// align-items
$align-items-center: center;
$align-items-end: flex-end;

// justify-content
$justify-content-center: center;
$justify-content-between: space-between;
$justify-content-end: flex-end;

// button
$button-size: 14px;
$button-padding: 8px 20px;

// label
$label-size: 13px;

// text-align
$text-align-center: center;

// box-sizing
$box-sizing: border-box;

// text-decoration
$text-decoration-none: none;

// resize
$resize-none: none;

// overflow
$overflow-y-auto: auto;
