// fonts
$font-family-regular: "Rubik-Regular", sans-serif;
$font-family-medium: "Rubik-Medium", sans-serif;
$font-family-bold: "Rubik-Bold", sans-serif;

// colors
$color-black: #000000;
$color-white: #ffffff;
$color-white-dark: #f4f5f7;
$color-gray: #6b778c;
$color-gray-light: #fafbfc;
$color-gray-dark: #dfe1e6;
$color-orange: #ffc065;
$color-blue: #4c6ef5;
$color-violet: #b717ef;

$color-green: #f0f9eb;
$color-green-light: #2ca355;

$color-danger: #f41010;
$color-danger-light: #db7373;

$color-warning: #de7b06;
$color-warning-light: #efc17c;

$color-success: #397634;
$color-success-light: #84cf7e;

$color-primary: #4c6ef5;
$color-primary-light: #4e8eca;
