$font-size: 13px;

.v-input-text {
  .el-input__inner {
    @include input;
    border: 2px solid $color-gray-dark;
    font-size: $font-size;
    padding: 8px;

    &::placeholder {
      font-size: $font-size;
    }
  }
}
